{{- $query := .Get "query" | default "Durham Center, 613 Morrill Road, Ames, IA 50011" -}}
{{- $encoded_query := urlquery $query -}}
{{- $title := .Get "title" | default "Map showing the Interactive Realities Laboratory at Iowa State University" -}}
{{- $map_url := printf "https://www.google.com/maps?q=%s&output=embed&hl=en" $encoded_query | safeURL -}}
{{- $directions_url := printf "https://www.google.com/maps/search/?api=1&query=%s" $encoded_query | safeURL -}}
<figure class="my-8">
  <iframe
    title="{{ $title }}"
    src="{{ $map_url }}"
    width="100%"
    height="450"
    style="border:0;"
    allowfullscreen
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
  <figcaption class="mt-2 text-sm text-gray-600">
    <a href="{{ $directions_url }}" target="_blank" rel="noopener">Open in Google Maps</a>
  </figcaption>
</figure>
